*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

.banner{
    background-image: url('./resources/bannerimage.png');
    background-size: cover;
    width: 1320px;
height: 600px;
border-radius: 16px;
overflow: hidden;
font-family: 'Merriweather', serif;
}
.banner::before {
    content: ""; /* Create a pseudo-element to apply the gradient overlay */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.583), rgba(0,0,0,0)); /* Adjust gradient colors and direction as needed */
  }
  .banner-greeting{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
font-family: 'Merriweather', serif;
  }

.banner-info{
    width: 632px;
    color: #FFF;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
}
