
  .image-container {
      background-image: url('./resources/bannerimage.png');
      background-size: cover;
      background-position: center;
      overflow: hidden;
      margin: 0 auto;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      width: 1320px;
      height: 600px;
      color: #fff;
      align-items: center;
      display: flex;
      justify-content: flex-start;
      margin-top: 120px;
  }

  /* Add styles for the black overlay */
  .overlay {
      position: cover;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: .5;
  }

  .content {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
  }

  .celebration {
      font-family: Merriweather;
      font-size: 72px;
      font-style: normal;
      font-weight: 900;
      line-height: 95px;
  }

  .happyenewyear {
      font-family: Merriweather;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
  }

  .container-two {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
  }

  .red-color65 {
      color: #F00;
      text-align: center;
      font-family: Inter;
      font-size: 88px;
      font-weight: 700;
  }

  .red-color {
      color: #F00;
      text-align: center;
      font-family: Inter;
      font-size: 24px;
      font-weight: 500;
  }

  .all-catagories {
      color: #070211;
      text-align: center;
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
  }


  .container-three-image {
      background-image: url('./resources/Vectorrr.png');
      background-size: cover;
      background-position: center;
      overflow: hidden;
      margin: 0 auto;
      width: 1320px;
      height: 600px;
      color: #fff;
      align-items: center;
      display: flex;
      justify-content: flex-start;
      opacity: .8;
      margin-top: 120px;
  }
#join-text{
      background-color: transparent;
      color: #fff;
      border: none;
      padding-left: 158px;
  }

  #join-text:hover {
      color: red;
      cursor: pointer;
  }

  .midnight-text {
      color: #FFF;
      font-family: Merriweather;
      font-size: 64px;
      font-weight: 900;
      line-height: 88px;
      letter-spacing: 7.04px;
      padding-left: 126px;
  }

.join-text {
    font-size: 20px;
    font-weight: normal;
}

#p-text {
    padding-left: 126px;
}

#red-color{
    color: #F00;
}
.container-four{
    background-image:   linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1320px;
    height: 482px;
    margin:120px auto;
    text-align: center;
}
.join-button {
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#button-red{
    background: #F00;
    color: #FFF;
    gap: 10px;
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 20px; 
}
#button-red:hover{
    cursor: pointer;
    opacity: .6;
}


/* Conatiner Five*/
.container-five{
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-part{
    border-radius: 463px;
border: 15px solid #F00;
}


/* Container Six */
.container-six{
margin-top: 120px;
display: flex;
justify-content: center;
align-items: center;
}
#red-bottom{
    border-radius: 16px 0px 16px 16px;
background: #F00;
width: 1320px;
height: 229px;
flex-shrink: 0;
margin: 0 140px;
}
#rec-one{
    width: 348.841px;
height: 406.841px;
background-image: url('./resources/Group\ 44.png') right bottom no-repeat;
}
padding: 15px;
background-size: 50px;
#fifty-percent{
  
   
}
#holiday-sale{
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
span{
    color: #F00;
}
#six-topics{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
text-align: center;
}
#six-description{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;
width: 1068px;
justify-content: center;
align-items: center;
margin: 0 266px;
}

#difficult-one{

}
/*
border-radius: 16px 16px 0px 0px;
background: url(<path-to-image>), lightgray -59.98px 0px / 151.553% 100% no-repeat;

*/


/* Comtainer Seven */
.container-seven{
    margin-top: 125px;
}
#seven-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-left: 140px;
}
#seven-topics{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-left: 140px;
}
#seven-details{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; 
    width: 896px;
    padding-left: 140px;
}
#seven-image-container{
    padding-left: 140px;
    gap: 24px;
    flex-wrap: wrap;
}
#seven{
    border-radius: 16px;
    overflow: hidden;
    gap: 25;
    border: 16px solid white;
}

/*container Eight*/


#subscribe{
    background-color: #F00;
    color: #FFF;
    border-radius: 50px;
background: #FFF;
}

.container-nine{
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
width: 1320px;
height: 616px;
margin: 0 auto;
}
#subs-letter{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
#subs-details{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; 
width: 896px;
}
#content-nine{
    text-align: center;
}

#input-section{
    width: 648px;
    height: 72px;
 display: flex;
 justify-content: center;
}
.iput{
    border-radius:0 50px 50px 0;
    background-color: #F00;
    color: white;
    font-weight: 800;
}
.email-iput{
    border-radius:50px 0 0 50px ;
    background: #FFF;
    text-align: center;
}
/* Footer section */
.footer-section{
    background: #070211;
    width: 1600px;
height: 609px;
flex-shrink: 0;
color: #FFF;
}
a{
    text-decoration: none;
    color: white;
}
#transparent-button{
    background-color: transparent;
    color: white;
    border: none;
}
#transparent-button:hover{
    background-color: green;
    color: red;
    border: none;
    cursor: pointer;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding-top: 120px ;
    padding-left: 120px;
    padding-right: 120px;
}
#icon-part{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    gap: 16px;
}
.last-part{
    display: flex;
    justify-content: space-around;
    padding-top: 88px;
}

