  /* Add styles for your container div */
  .image-container {
      position: relative;
      width: 100%;
      height: 1100px;
      /* Adjust height as needed */
      background-image: url('./resources/bannerimage.png');
      /* Replace 'path/to/your/background-image.jpg' with the actual path to your image */
      background-size: cover;
      background-position: center;
      overflow: hidden;
      margin: 0 auto;
  }

  /* Add styles for the black overlay */
  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      /* Adjust the opacity as needed */
  }

  /* Additional styles for content inside the container (optional) */
  .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      /* Text color on top of the image */
      text-align: center;
  }

  .celebration {
      font-family: Merriweather;
      font-size: 72px;
      font-style: normal;
      font-weight: 900;
      line-height: 95px;
  }

  .happyenewyear {
      font-family: Merriweather;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
  }

  .container-two {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
  }

  .red-color65 {
      color: #F00;
      text-align: center;
      font-family: Inter;
      font-size: 88px;
      font-weight: 700;
  }

  .red-color {
      color: #F00;
      text-align: center;
      font-family: Inter;
      font-size: 24px;
      font-weight: 500;
  }

  .all-catagories {
      color: #070211;
      text-align: center;
      font-family: Inter;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
  }


  .container-three-image {
      background-image: url('./resources/Vectorrr.png');
      background-size: cover;
      background-position: center;
      overflow: hidden;
      margin: 0 auto;
      width: 1320px;
      height: 600px;
      color: #fff;
      align-items: center;
      display: flex;
      justify-content: flex-start;
      opacity: .8;
      margin-top: 120px;
  }

  input {
      background-color: transparent;
      color: #fff;
      border: none;
      padding-left: 158px;
  }

  input:hover {
      color: red;
      cursor: pointer;
  }

  .midnight-text {
      color: #FFF;
      font-family: Merriweather;
      font-size: 64px;
      font-weight: 900;
      line-height: 88px;
      letter-spacing: 7.04px;
      padding-left: 126px;
  }

.join-text {
    font-size: 20px;
    font-weight: normal;
}

#p-text {
    padding-left: 126px;
}

#red-color{
    color: #F00;
}
.container-four{
    background-image:   linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1320px;
    height: 482px;
    margin:120px auto;
    text-align: center;
}
.join-button {
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#button-red{
    background: #F00;
    color: #FFF;
    gap: 10px;
    border-radius: 8px;
    padding: 16px 32px;
    font-size: 20px; 
}
#button-red:hover{
    cursor: pointer;
    opacity: .6;
}
